#weworkPage {
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
    opacity: 0;

    &.slideUp {
        transform: translateY(0%);
        opacity: 1;
    }

    #mobileView {
        @include breakpoint-lg {
            display: block;
        }

        @include breakpoint-lg-up {
            display: none;
        }
    }

    #desktopView {
        // border: 1px solid red;
        width: 100%;
        background-color: black;

        @include breakpoint-lg {
            display: none !important;
        }

        @include breakpoint-lg-up {
            display: block !important;
        }
    }
}